<div class="background">
    <div class="welcome-message">
      Hi, I am Ariel Pillajo Fullstack Developer
    </div>
    <div class="button-container">
        <a href="https://github.com/Ariel-Marcelo" target="_blank" class="button social-button">
          <i class="fab fa-github"></i> GitHub
        </a>
        <a href="https://www.linkedin.com/in/ariel-marcelo-pillajo-pijal-822092219/" target="_blank" class="button social-button">
          <i class="fab fa-linkedin"></i> LinkedIn
        </a>
        <a href="" target="_blank" class="button social-button">
            <i class="fa-solid fa-briefcase"></i> My Work (Soon)
        </a>
      </div>
  </div>
  