<div class="section" id="about">
  <h2 class="section-title">About Me</h2>
    <div class="about-text">
      <p>
        I'm a passionate Full Stack Developer with expertise in modern web technologies.
        With over 2 years of experience in building web and mobile applications. I focus on creating
        efficient, scalable, and user-friendly solutions.
      </p>
      <div class="skills-list">
        <h3>Skills</h3>
        <ul>
          <li>Frontend: Angular, Vue, React, TypeScript, Javascript</li>
          <li>Backend: AspNetCore, Spring Boot, C#, Java</li>
          <li>Database: SqlServer, Postgresql, Store Procedures</li>
          <li>Mobile: React Native, Expo</li>
          <li>Cloud: Azure, Azure Functions, Active Directory, Service Bus, Static Web Apps</li>
          <li>DevOps:  CI/CD, Docker, GitHub Pages, Azure DevOps, GitLab</li>
        </ul>
      </div>
    </div>
</div>
